include ../svg/svg

header.page-header
    .top-logo
        a(href='/pages/')
            img(src= baseUrl + 'images/logo.svg', alt='')
    .grid-container
        nav
            ul.main-menu
                li: a(href='#') About
                li: a(href='/pages/services.html') Services
                li
                    a.has-dropdown(href='/pages/projects.html') Work
                    ul.main-menu__sub
                        li: a(href='#') Optimus
                        li: a.has-external(href='#') Mexx
                        li: a(href='#') Trekks
                        li: a(href='#') Trekks
                        li: a(href='#') Trekks
                li: a(href='/pages/contact.html') Contact
                li: a(href='/pages/404.html') Crew
            span.hide-for-large.main-menu__dropdown
