/*
<div class="input-search">
    <input type="search" placeholder="Search" class="input-search__input">
    <button type="submit" class="btn input-search__btn">
        <svg class="icon input-search__icon">
            <use xlink:href="../../../images/sprite.svg#icon-search"></use>
        </svg>
    </button>
</div>
*/

.input-search {
    position: relative;
    &__input {
        width: 100%;
        padding: 6px 32px 6px 16px;
        border: 2px solid $input-border-color;
        background-color: $c--white;
        color: $c--dark-gray;
        @include font(mukta, 16px, 18px);
        @include mq(desktop) {
            padding: 4px 32px 4px 10px;
            @include font(mukta, 13px, 15px);
        };
        &:focus {
            border-color: $input-border-color-focus;
            transition: border-color .15s;
        }
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 100%;
    }
    &__icon {
        width: 15px;
        height: 15px;
        fill: $c--dark-gray
    }
}
