.tab-control {
    &::after {
        @include pseudo(block, relative);
        width: 100%;
        height: 3px;
        background-color: transparent;
        transition: .2s;
    }
    &.is-active {
        &::after {
            @include pseudo(block, relative);
            background-color: blue;
        }
    }
}

.tab-content {
    display: none;

    &.is-active {
        display: block;
        animation: fadeIn .3s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tab {
    display: flex;
    flex-flow: column;
    @include mq(desktop) {
        flex-flow: row nowrap;
    };
    &__item {
        width: 100%;
        &:first-child {
            .tab__link {
                border-top: 2px solid $c--dark-gray;
                @include mq(desktop) {
                    border-left: 2px solid $c--dark-gray;
                };
            }
        }
    }
    &__link {
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        // height: 55px;
        border: 2px solid $c--dark-gray;
        border-top: none;
        background-color: $c--light-gray;
        color: $c--dark-gray;
        text-transform: uppercase;
        text-align: center;
        @include font(mukta, 15px, 35px);
        @include mq(desktop) {
            border: 2px solid $c--dark-gray;
            border-left: none;
        };
        &--active {
            background-color: $c--dark-gray;
            color: $c--white;
        }
        &--disabled {
            border: 2px solid $c--medium-gray;
            border-top: none;
            color: $c--medium-gray;
            cursor: default;
            pointer-events: none;
            user-select: none;
            @include mq(desktop) {
                border: 2px solid $c--medium-gray;
                border-left: none;
            };
        }
        &--locked {
            cursor: default;
            pointer-events: none;
            user-select: none;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 20px;
        margin-left: 10px;
        fill: $c--dark-gray;
    }
}
