include ../svg/svg

footer.page-footer
    .grid-container
        .grid-x.grid-padding-x
            .cell.medium-4.large-4
                a(href='/pages/')
                    img(src= baseUrl + 'images/logo-white.png', alt='')
            .cell.medium-4.large-4
                .page-footer__title Furest
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit, sed do eiusmod tempoincididunt ut labore.
            .cell.medium-4.large-4
                .page-footer__title Toridine
                p.text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit, sed do eiusmod tempoincididunt ut labore.
            
