extends ../_layouts/base

block header

block footer

block content
  .grid-container.page-404
    .top-logo__404
        a(href='/pages/')
            img(src= baseUrl + 'images/logo.svg', alt='')
    
    .grid-x.grid-padding-x.align-center
        .cell.medium-10.large-8
            .page-404__box
                img.page-404__title-img(src= baseUrl + 'images/title-404.png', alt='')
                .page-404__title PAGE NOT FOUND
                .hide-for-small-only.page-404__go-home
                    a.button.white(href='/pages/') Go Home
            .show-for-small-only.page-404__go-home
                a.button.white(href='/pages/') Go Home