extends ../_layouts/base

block content
  .grid-container.page-contact
    
    .shapes
        .shapes__item-1.shapes__item-1--p2

    .grid-x.grid-padding-x.align-justify
        .cell.medium-12.large-5
            .contact-box__title Contact Us
            .contact-box__text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .contact-box__item.phone
                a(href='tel:+4401392531972') +44 01392 531972
            .contact-box__item.email
                a(href='mailto:emailexample@gmail.com') emailexample@gmail.com
            .contact-box__item.map
                address.
                    The Adress <br>
                    Top Floor 11-15 Dix’s Field <br>
                    Exeter, EX1 1QA
            ul.contact-box__social
                li: a.icon-facebook(href='#')
                li: a.icon-instagram(href='#')
                li: a.icon-twitter(href='#')
                li: a.icon-linkedin(href='#')

        .cell.medium-12.large-6
            .contact-box__form
                .title Drop us a line
                label(for='form-name') Name
                .field
                    input(type='text', id='form-name')
                    span.error-text Please fill this field
                label(for='form-email') Email
                .field
                    input.error-formDELETE-THIS(type='text', id='form-email')
                    span.error-text Please fill this field
                label(for='form-phone') Phone
                .field
                    input.error-formDELETE-THIS(type='text', id='form-phone')
                    span.error-text Please fill this field
                label(for='form-message') Message
                .field
                    textarea(id='form-message')
                    span.error-text Please fill this field
                .submit
                    button.button(type='submit') Submit
    
