extends ../_layouts/base

block shapes
  .shapes.shapes--home
    .shapes__digital
      img.image-custom__stroke.image-custom__stroke--s2(src= baseUrl + 'images/pic-digital.png', alt='')

block content
  .grid-container
    .grid-x.grid-padding-x.align-justify
        .cell.medium-6.large-5
            .shapes
              .shapes__item-1
            //- Digital Box
            .digital-box
                .digital-box__title DIGITAL SOLUTIONS
                p.digital-box__text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .digital-box__more
                    a.button(href='#') Read more

  .innovation-box
    .innovation-box__image
        img.image-custom__stroke.image-custom__stroke--s3(src= baseUrl + 'images/pic-innovation.png', alt='')
    .innovation-box__wrap
        .grid-container
            .shapes
              .shapes__item-2
            .grid-x.grid-padding-x.custom-row
                .cell.medium-7.medium-offset-5.large-5.large-offset-6.custom-cell
                    .shapes
                      .shapes__item-3
                    .innovation-box__title Innovation
                    p.innovation-box__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .grid-container
    h2.main-title.main-title--s3 Services
    p.page-home__title-text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

  .services-menu
    a.menu-1(href='#') Digital Solutions
    a.menu-2(href='#') SEO
    a.menu-3(href='#') Creative
    a.menu-4(href='#') Advertising

  .shapes
    .shapes__item-4
    .shapes__item-5

  .grid-container
    
    h2.main-title.main-title--s3 Our work
    p.page-home__title-text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  
    .project-panel.project-panel--seo
      .grid-x.grid-padding-x.align-justify
        .cell.medium-5.large-5
          .middle-title.middle-title--s1 Optimus
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempo
            incididunt ut labore et dolore.
          .project-panel__more
            a.button.small(href='') Read more
        .cell.medium-5.large-5
          .project-panel__image
            .clip-image.clip-image--s1
              img.clip-image__shape-1(src= baseUrl + 'images/clip-test/pic.jpg', alt='')
              //- img(src= baseUrl + 'images/pic-work.png', alt='')
      .grid-x.grid-padding-x.align-justify.project-panel__row
        .cell.medium-4.large-4.project-panel__col-order
          .project-panel__image.project-panel__image-----p1
            .clip-image.clip-image--s2
              img.clip-image__shape-2(src= baseUrl + 'images/clip-test/pic1.jpg', alt='')
            //- img(src= baseUrl + 'images/pic-work1.png', alt='')
        .cell.medium-5.large-5
          .middle-title.middle-title--s1 Mexx
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempo
            incididunt ut labore et dolore.
          .project-panel__more
            a.button.small(href='') Read more

      .shapes
        .shapes__item-6

      .grid-x.grid-padding-x.align-right
        .cell.medium-5.large-5
          .shapes
            .shapes__item-7
          .middle-title.middle-title--s1 Trekk
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempo
            incididunt ut labore et dolore.
          .project-panel__more
            a.button.small(href='') Read more
        .cell.medium-4.large-4
          .project-panel__image.project-panel__image--p2
            .clip-image.clip-image--s3
              img.clip-image__shape-3(src= baseUrl + 'images/clip-test/pic2.jpg', alt='')
            //- img.image-custom__stroke.image-custom__stroke--s1(src= baseUrl + 'images/pic-work2.png', alt='')

  .shapes
    .shapes__item-8
    .shapes__item-9

  .grid-container.page-home  

    h2.main-title.main-title--s2 Crew
    p.page-home__title-text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

    .slider-team
        .slider-team__slide
            .slider-team__image
                img(class='slider-team__image-shape4' src='https://www.sciencedaily.com/images/2019/05/190506124118_1_540x360.jpg' alt='')
            .slider-team__name Mason Murray
            .slider-team__position Position
        .slider-team__slide
            .slider-team__image
                img(class='slider-team__image-shape5' src='https://www.sciencedaily.com/images/2019/05/190506124118_1_540x360.jpg', alt='')
            .slider-team__name John Byers
            .slider-team__position Position
        .slider-team__slide
            .slider-team__image
                img(class='slider-team__image-shape6' src='https://www.sciencedaily.com/images/2019/05/190506124118_1_540x360.jpg', alt='')
            .slider-team__name Mary Dodson
            .slider-team__position Position

        .slider-team__slide
            .slider-team__image
                img(src= baseUrl + 'images/pic-slide.png' alt='')
            .slider-team__name Mason Murray
            .slider-team__position Position
        .slider-team__slide
            .slider-team__image
                img(src= baseUrl + 'images/pic-slide1.png', alt='')
            .slider-team__name John Byers
            .slider-team__position Position
        .slider-team__slide
            .slider-team__image
                img(src= baseUrl + 'images/pic-slide2.png', alt='')
            .slider-team__name Mary Dodson
            .slider-team__position Position
