extends ../_layouts/base

block shapes
  .shapes
    .shapes__top-right

block content
  .grid-container.page-projects
    h2.main-title Project Mexx
    p.page-home__title-text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  
    .project-panel
      .shapes
        .shapes__item-1.shapes__item-1--p1

      .grid-x.grid-padding-x.align-justify
        .cell.medium-6.large-6
          .middle-title The challenge
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell.medium-4.large-4
          ul.project-panel__nav
            li.title Client
            li Company Name
            li.title Services provided
            li Creative
            li Development
            li Marketing
            li.title Take a look
            li: a.site(href='#') View the website

      .grid-x.grid-padding-x.align-justify
        .cell.medium-4.large-4
          .project-panel__image.project-panel__image-----p1
            .clip-image.clip-image--s2
              img.clip-image__shape-2(src= baseUrl + 'images/clip-test/pic1.jpg', alt='')
            //- img(src= baseUrl + 'images/pic-solution.jpg', alt='')
        .cell.medium-6.large-6
          .middle-title.middle-title--s1 The Solution
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.


    //- Projects
    .project-box
      .project-box__title First screen
      p.project-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .project-box__image
        img(src= baseUrl + 'images/pic-project.png', alt='')

    .project-box
      .project-box__title Products
      p.project-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .project-box__image
        img(src= baseUrl + 'images/pic-project.png', alt='')
      
    .project-box
      .project-box__title Advantages
      p.project-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .project-box__image
        img(src= baseUrl + 'images/pic-project.png', alt='')
      
    .project-box
      .project-box__title Mobile
      p.project-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      .grid-x.grid-padding-x
        .cell.medium-4.large-4
          .project-box__image
            img(src= baseUrl + 'images/pic-project1.png', alt='')
        .cell.medium-4.large-4
          .project-box__image
            img(src= baseUrl + 'images/pic-project1.png', alt='')
        .cell.medium-4.large-4
          .project-box__image
            img(src= baseUrl + 'images/pic-project1.png', alt='')

    //- Clients Review
    h2.main-title.main-title--s1 Client’s review
    .clients-box
      .clients-box__image
        img(src= baseUrl + 'images/pic-client.jpg', alt='')
      .clients-box__title Mason Murray
      .clients-box__pos Position
      p.clients-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      
    //- Contact Us
    .contact-us-box
      .contact-us-box__title Contact Us
      p.contact-us-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua.
      .contact-us-box__feedback
        a.button(href='#') Contact us


    

  
