extends ../_layouts/base

block shapes
  .shapes
    .shapes__top-right

block content
  .grid-container
    h2.main-title SEO services
    p.page-home__title-text.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo <br>
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  
    .project-panel.project-panel--seo

      .shapes
        .shapes__item-1

      .grid-x.grid-padding-x.align-justify
        .cell.medium-6.large-6
          .middle-title.middle-title--s1 Link Building
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell.medium-5.large-5
          .project-panel__image
            .clip-image.clip-image--s1
              img.clip-image__shape-1(src= baseUrl + 'images/clip-test/pic.jpg', alt='')
            //- img.image-custom__stroke(src= baseUrl + 'images/pic-service.png', alt='')
      .grid-x.grid-padding-x.align-justify
        .cell.medium-4.large-4.project-panel__col-order
          .project-panel__image.project-panel__image-----p1
            .clip-image.clip-image--s2
              img.clip-image__shape-2(src= baseUrl + 'images/clip-test/pic1.jpg', alt='')
            //- img(src= baseUrl + 'images/pic-service1.png', alt='')
        .cell.medium-6.large-6

          .shapes
            .shapes__item-2.shapes__item-2--p1

          .middle-title.middle-title--s1 Local SEO
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .shapes
    .shapes__item-4
    .shapes__item-10

  .grid-container.page-services

    .project-panel.project-panel--seo

      .grid-x.grid-padding-x.align-justify.project-panel__row
        .cell.medium-6.large-6
          .middle-title.middle-title--s1 National SEO
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell.medium-5.large-5
          .project-panel__image
            .clip-image.clip-image--s3
              img.clip-image__shape-3(src= baseUrl + 'images/clip-test/pic2.jpg', alt='')
            //- img.image-custom__stroke.image-custom__stroke--s1(src= baseUrl + 'images/pic-service2.png', alt='')
      .grid-x.grid-padding-x.align-justify.project-panel__row1
        .cell.medium-4.large-4.project-panel__col-order
          .project-panel__image.project-panel__image-----p1
            .clip-image.clip-image--s2
              img.clip-image__shape-2(src= baseUrl + 'images/clip-test/pic3.jpg', alt='')
            //- img(src= baseUrl + 'images/pic-service3.png', alt='')
        .cell.medium-6.large-6

          .shapes
            .shapes__item-7.shapes__item-7--p1

          .middle-title.middle-title--s1 Search Marketing
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .grid-x.grid-padding-x.align-justify.project-panel__row2
        .cell.medium-6.large-6

          .shapes
            .shapes__item-1.shapes__item-1--p3

          .middle-title.middle-title--s1 Link Building
          .project-panel__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .cell.medium-5.large-5
          .project-panel__image
            .clip-image.clip-image--s1
              img.clip-image__shape-1(src= baseUrl + 'images/clip-test/pic4.jpg', alt='')
            //- img.image-custom__stroke(src= baseUrl + 'images/pic-service4.png', alt='')

    //- Contact Us
    .contact-us-box
      .contact-us-box__title Contact Us
      p.contact-us-box__text.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua.
      .contact-us-box__feedback
        a.button(href='#') Contact us




    

  
